* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
nav {
    padding: 15px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 2%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50px;
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navItems {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navItems a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
#contactNav {
    margin-left: 72%;
    background-color: #FF1CC0;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
nav a:hover {
    animation: ContactMe 0.5s forwards;
}
@keyframes ContactMe {
    to {
        background-color: #9c71f4;
        border: 1px solid white;
    }
}
header img {
    width: 100%;
    height: 105vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}
#headerTxt {
    position: absolute;
    top: 48%;
    left: 35%;
    transform: translate(-50%, -50%);
}
#headerTxt h1 {
    font-size: 700%;    
    color: white;
    font-weight: 700;
    line-height: 120px;
    font-family: "Marcellus";
    padding-bottom: 5%;
}
#headerTxt h1 b {
    font-weight: 500;
}
.typing-container {
    font-size: 2em;
    color: white;
}
.typing-container span {
    font-family: "Calistoga";
    font-weight: 100;
    font-size: 140%;
}
.typing-effect {
    padding: 5px 10px;
    color: #ff85fd;
    padding-right: 3px;
    background-color: #ffffff;
    border-right: 0.1em solid #ff85fd;
    white-space: nowrap;
    overflow: hidden;
}
.header-section-divider {
    width: 100vw;
    height: 10vh;
    background-color: #9c71f4;
    rotate: -2.7deg;
    position: absolute;
    top: 100%;
    margin-left: -10px;
}
.header-section-divider h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: "Prompt";
    word-spacing: 40px;
}
.aboutMe {
    margin-top: 105vh;
    display: flex;
    padding: 7% 15%;
    height: 50vh;
}
.aboutMeInfo {
    border-right: 2px solid black;
    width: 80%;
}
.aboutMeInfo h1 {
    font-size: 350%;
    font-family: "Prompt";
    background: linear-gradient(160deg, #FF1CC0, #B131FA);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aboutMeInfo p {
    font-size: 150%;
    font-family: "Prompt";
    width: 95%;
}
.aboutmeLinks {
    font-size: 180%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    font-family: "Prompt";
}
.aboutmeLinks p {
    margin: 10px 0;
}
.aboutmeLinks .active {
    color: #FF1CC0;
    font-weight: 600;
    border-bottom: #FF1CC0 2px solid;
}
.aboutmeLinks p:hover {
    cursor: pointer;
    animation: aboutMeLinkHover 0.5s forwards;
}
@keyframes aboutMeLinkHover {
    to {
        color: #FF1CC0;
    }
}